.section-subtitle_theme_dark {
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto 0;
    color: white;
  }